body {
    margin: 0;
    background-color: #f8fff0;
    font-family: sans-serif;
}

#header {
    background-color: #6c0;
    text-align: center;
    padding: 1rem;
}

#stick-to-2030 {
    font-weight: bold;
    color: #f8fff0;
}

h2 {
    text-align: center;
    margin: 1rem auto 1rem;
}

#actions {
    display: flex;
    justify-content: center;
    margin: 0;
}

#actions>ul {
    margin: 0;
}

.action {
    font-size: 1.2rem;
    margin: 0.5rem auto 0.2rem;
}

.action-info {
    font-size: 1rem;
    margin: 0.2rem auto 0.5rem;
    line-height: 1.25rem;
}

#car-manufacturers {
    display: flex;
    justify-content: center;
    margin: 1rem;
}

td, th {
    padding: 0.2rem;
}

tr:nth-child(even) {
    background-color: #eee;
}

a.messenger {
    background-image: url("messenger.ico");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    display: block;
}

a.fb {
    background-image: url("facebook.ico");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    display: block;
}

a.twitter {
    background-image: url("twitter.ico");
    background-size: contain;
    background-repeat: no-repeat;
    width: 1rem;
    height: 1rem;
    display: block;
}

@media only screen and (max-width: 35rem) {
    #tell-them, #stick-to-2030 {
        font-size: 2.5rem;
        display: block;
    }
}
@media only screen and (min-width: 35rem) {
    #tell-them, #stick-to-2030 {
        font-size: 3rem;
    }

    #tell-them::after {
        content: " ";
    }
}

@media only screen and (max-width: 40rem) {
    a.email {
        background-image: url("email.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        display: block;
    }
    a.email>span {
        visibility: hidden;
    }
    a.tel {
        background-image: url("phone.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 1rem;
        height: 1rem;
        display: block;
    }
    a.tel>span {
        visibility: hidden;
    }
}
